/*
VFW 1207
Cabe Bartz
Project 2
additem.html
July 8th 2012
*/
body {
	/* font-family will be inherited by all other css tags*/
	font-family: helvetica, arial, san-serif;
	background: #b6d8e6;
}
h1 {
	/* css for title */
	font-size: 24px;
	color: #fde8d0;
	font-weight: bold;
	text-align: center;
	letter-spacing: .5px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
	margin: 5px 5px;
	border: 5px double #555555;
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	padding: 5px;
	background: #7da7d9;     
}
h2 {
	/* css for description */
	font-size: 18px;
	text-align: center;
	color: #555555;
	margin: 50px 5px;
}
p {
	/* css for additem link */
	text-align: center;
	margin: 50px 5px;
}
fieldset{
	/* css for fieldset box */
	font-size: 14px;
	background: #fde8d0;
	line-height: 30px;
}
li{
	/* move list items to the left--makes room for input to be on same line */
	margin-left: -18px;
}
select{
	/* moves category drop down to right and resizes */
	float: right;
	width: 128px;
}
input{
	/* move input fields to right */
	float: right;
}
textarea{
	/* move comment box to right */
	float: right;
}
input[id="dueDate"]{
	/* resize date input */
	width: 121px;
}
a{
	/* add outline to links */
	outline: 1px dotted purple;
}
a[id="displayData"]{
	/* moves display data link to right */
	float: right;
}
a[id="addNew"]{
	/* moves add another bill link to right */
	float: right;
}
input[id="submit"]{
	/* move submit button back to left because it inherited float: right; properties */
	float: left;
}